* {
  font-family: sans-serif;
}

.accordian {
  background-color: rgb(10, 27, 184);
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

h2 {
  color: white;
  text-align: center;
  font-size: 30px;
}

.item {
  background-color: white;
  padding:5px 20px;
  margin: 10px 0;
}

.Question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.Question h3 {
  font-size: 22px;
  margin: 5px 0;
  font-weight: bold;
}

.Question p {
  cursor: pointer;
  font-size: 25px;
  margin: 5px 0;
  background-color: rgb(211, 216, 253);
  border: 1px solid rgb(10, 27, 184);
  color: rgb(10, 27, 184);
  padding: 3px 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

p {
  font-size: 18px;
}